
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}


h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #6c63ff;
    outline: none;
}


.btn {
    background-color: #6c63ff;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #5a53e5;
}


p {
    font-size: 14px;
    color: #777;
}

p a {
    color: #6c63ff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.message {
    background-color: #e43543;
    color: #ffffff;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}
